:root {
  --brand-color-primary-lighttest: #4DFFA0;
  --brand-color-primary-light: #25F787;
  --brand-color-primary-medium: #00E169;
  --brand-color-primary-dark: #00C75D;
  --brand-color-primary-darkest: #009445;
  --brand-color-secondary-lighttest: #94E8F7;
  --brand-color-secondary-light: #79DFF2;
  --brand-color-secondary-medium: #5CCFE5;
  --brand-color-secondary-dark: #3DB5CC;
  --brand-color-secondary-darkest: #1F8599;
  --brand-color-text-lighttest: #FFFFFF;
  --brand-color-text-light: #EBE9E8;
  --brand-color-text-medium: #A6A6AB;
  --brand-color-text-dark: #54545C;
  --brand-color-text-darkest: #35353B;
}
