:root {
  --space-column-xxs: 4px;
  --space-column-xs: 8px;
  --space-column-sm: 16px;
  --space-column-md: 24px;
  --space-column-lg: 32px;
  --space-column-xl: 48px;
  --space-column-xxl: 64px;
  --space-column-huge: 96px;
  --space-column-giant: 128px;

  --space-inset-xxs: 4px;
  --space-inset-xs: 8px;
  --space-inset-sm: 16px;
  --space-inset-md: 24px;
  --space-inset-lg: 32px;
  --space-inset-xl: 48px;
  --space-inset-xxl: 64px;

  --space-line-xxs: 4px;
  --space-line-xs: 8px;
  --space-line-sm: 16px;
  --space-line-md: 24px;
  --space-line-lg: 32px;
  --space-line-xl: 48px;
  --space-line-xxl: 64px;

  --space-squish-xxs: 4px;
  --space-squish-xs: 8px;
  --space-squish-sm: 16px;
  --space-squish-md: 24px;
  --space-squish-lg: 32px;
}
